.popular-courses {
	color: #20b486;
	font-size: 70.65px;
	font-weight: bold;
	font-family: 'KoHo', sans-serif;
}

.courses-title {
	position: relative;
}

.courses-title::after {
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	background-image: url('./../img/vectorimg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	bottom: -5px;
	left: -23px;
}

.card-intro {
	font-size: 18px;
}

.card-image,
.card-image-2,
.card-image-3 {
	background-size: cover;
	object-fit: contain;
	background-position: center;
	width: 100%;
	height: 320px;
}
.card-image {
	background-image: url('/professionalcleaningcentre.svg');
}
.card-image-2 {
	background-image: url('/babysitting.svg');
}
.card-image-3 {
	background-image: url('/waitercourse.svg');
}

.card-info-box {
	border-radius: 8px;
}

.card-info {
	padding: 0px 30px 20px;
	border: 1px solid rgba(32, 180, 134, 0.5);
	text-align: left;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: flex;
	flex-direction: column;
	/* row-gap: 22px; */
}

.card-item {
	width: 33%;
	font-family: 'Poppins', sans-serif;
}

.card-title {
	font-size: 20px;
	font-weight: bold;
}

.lessons-rating,
.lessons-count {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

.lessons-count {
	gap: 10px;
}

img.number-image {
	height: 28px;
}

.lessons-number {
	font-size: 25px;
}

.rates {
	display: flex;
	height: 25px;
}

.dollar-discounted {
	font-size: 20px;
}

.discount-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dollar-numbers-five {
	font-weight: bold;
	color: #20b486;
}

.Enroll {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	width: 135px;
	border-radius: 5px;
	border-style: none;
}

span.dollar-numbers-twenty {
	text-decoration: line-through;
	padding: 0 5px;
	color: #888686;
}

.courses-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10%;
	margin-bottom: 30px;
}

.Explore-courses {
	color: #f49406;
	font-size: small;
	text-decoration: underline;
}

.explore-course-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.explore-all-courses-button {
	background-color: #20b486;
	padding: 20px;
	margin: 0 auto;
	margin: 50px 0;
	border-style: none;
	color: #fff;
	width: 254px;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

.container-card-item {
	display: flex;
	gap: 30px;
}

.hoverTextButton {
	color: #888686;
}

.hoverTextButton:hover {
	color: #fff;
}

/* at max-screen: 640px */
@media screen and (max-width: 640px) {
	.card-item {
		width: 100%;
	}

	.courses-title::after {
		bottom: -16px;
		left: 13px;
	}

	.card-info {
		height: auto;
	}
}

@media screen and (min-width: 768px) {
	.card-intro {
		height: 100px;
	}
	.Enroll {
		font-size: 15px;
	}
}

/* at max-screen: 768px */
@media screen and (max-width: 768px) {
	.card-item {
		width: auto;
	}
}

@media screen and (min-width: 1240px) {
	.card-intro {
		height: 100px;
	}

	/* .card-info {
		height: 402.8px;
	} */
}
