.bar-line {
	border-width: 1px 0;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #ffff;
	width: 100%;
	padding: 12px 0;
}

@media screen and (max-width: 1024px) {
	.footerSection {
		height: 67vh;
	}
}
