@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=KoHo:wght@600&display=swap');

button {
	cursor: pointer;
	background-color: initial;
}

.hero-text {
	font-weight: bold;
	text-align: left;
	font-size: 50px;
	font-family: 'KoHo', sans-serif;
	font-weight: 600;
	font-style: normal;
	position: relative;
}

.hero-description {
	font-size: 23px;
	text-align: left;
	margin: 20px auto;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.main-herosection {
	overflow: visible;
	position: relative;
	width: 100%;
	margin-top: 15%;
}

.circleBg {
	position: absolute;
	width: 330px;
	left: 1px;
	object-fit: contain;
	height: auto;
	background-repeat: no-repeat;
}

.circleBg-img {
	position: absolute;
	width: 373px;
	top: 48%;
	right: 0;
	object-fit: contain;
	height: auto;
	background-repeat: no-repeat;
}

.Home-section {
	margin: 0px 60px;
	display: flex;
	justify-content: center;
	gap: 60px;
	align-items: center;
	padding-bottom: 100px;
}

.Home-section-buttons {
	display: flex;
	align-items: center;
	gap: 40px;
	font-family: 'Inter', sans-serif;
	margin-bottom: 20px;
}

.cta-button,
.contact-button {
	padding: 10px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 768px) {
	.cta-button,
	.contact-button {
		width: auto;
		height: auto;
	}
	.Home-section {
		display: flex;
		gap: 12px;
	}
	.Home-section-buttons {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}

.cta-button,
.Enroll {
	background-color: rgb(244, 149, 6);
	color: #ffffff;
}

button.cta-button {
	border-style: solid;
	border-width: thick;
	border-color: #f4ebff;
}

.cta-button:hover {
	background-color: #1e1e1e;
	color: #fff;
	border-color: #20b486;
	cursor: pointer;
}

.contact-button:hover {
	color: #20b486;
	background-color: #e6e1da;
	cursor: pointer;
	border-style: none;
}

.box-herosection {
	border: 1px solid;
	position: absolute;
	top: 0;
	border-radius: 8px;
	left: 48%;
	width: 50%;
	background-color: #1e1e1e;
	height: 70%;
}

.herosection-lady {
	width: 100%;
	position: relative;
}

.lady-sitting-image {
	width: 95%;
	padding-top: 30px;
	position: relative;
	z-index: 9;
	padding-right: 50px;
}

.contact-button {
	background-color: #ffffff;
	color: #1e1e1e;
	border: 1px solid #1e1e1e;
}
