@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=KoHo:wght@600&family=Poppins&display=swap');
body {
  margin: 0;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    align-items: center;
    background: #ffffff;
  }
  

  .nav-logo {
    margin: 15px;
    color: #ffffff;
    width: 214px;
    height: 52px;
  }
  
  .nav-item {
    font-weight: bold;
    color: #1E1E1E;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-decoration: none;
    margin: 15px 0;
    position: relative;
    opacity: 0.9;
    align-items: center;
  }
  .nav-item:hover{ 
    cursor: pointer;
    color:rgb(32, 180, 134) ;
  }
  
  .Navbar > .nav-items > a:hover {
    opacity: 1;
  }
  
  .Navbar > .nav-items > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s;
  }
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }

  .nav-items{ 
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .search-item, .searchbox-text {
    display: flex;
}

.searchbox-text {
  border-radius: 10px;
  border: 1px solid rgb(107 105 105 / 38%);
  width: 482px;
  height: 52px;
  align-items: center;
  margin: 15px 0;
  padding-left: 13px;
}

.explore-more-text{
  color:rgb(32, 180, 134) ;
  font-weight: bold;
}
  
input.search-input {
  border: none;
  height: 23px;
  width: 100%;

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.search-input::placeholder {
  font-size: 17px; 
}

.box-account{ 
  padding: 10px;
  border-radius: 8px;  
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #F49406; 
  border-style: solid;
  border-width: thick;
  border-color: #F4EBFF;  
}

.box-account:hover {
  cursor: pointer;
  background-color: #1E1E1E;
  color: #fff;
  border-color: #20B486;
  cursor: pointer;  
}


.bar-line{
  border-width: 1px 0;
  border-top: 1px solid #00000061;
  border-bottom:none; 
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 28px 0px;
  margin: 0;
}

.explore-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-right: 13px;
}

.search-box {
  display: flex;
  gap: 10px;
  width: 100%;
}

.explore-more {
  height: 23px;
}

img.search {
  width: 20px;
}

  .container {
    display: flex;
    margin: 0 60px;
    gap: 20px;
  }
  